* {
  box-sizing: border-box;
}

:root {
  --color-2: #DD1E26;
  --color-3: #292222;
  --color-4: #BCBCBC;
  --color-5: #FBFBFB;
  --color-6: rgba(242, 242, 242, 0.7);
  --color-7: rgba(216, 216, 216, 0.7);
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-3);
  background: var(--color-5);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  padding: 0 250px;
}

@media (max-width: 1919px) {
  #root {
    padding: 0 40px;
  }
}

@media (max-width: 1200px) {
  #root {
    padding: 0 16px;
  }
}

@media (max-width: 768px) {
  #root {
    padding: 0 8px;
  }
}

a {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
